<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD COMPANY</title>
</head>
<body>
    <h1>ADD COMPANY</h1>
    <form method="get" action="add_company_success">
        <label for="company_code">Company Code</label>
        <input type="text" name="company_code" id="company_code"><br><br>
        <label for="company_name">Company Name</label>
        <input type="text" name="company_name" id="company_name"><br><br>
        <label for="founded_year">Founded Year</label>
        <input type="Date" name="founded_year" id="founded_year"><br><br>
        <label for="company_address">Company Address</label>
        <input type="text" name="company_address" id="company_address"><br><br>
        <button type="submit">ADD COMPANY</button><br><br>
    </form>
    <form method="get" action="website_company">
        <button type="submit">COME BACK</button><br><br>
    </form>
</body>
</html>