<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSITE COMPANY</title>
</head>
<body>
    <h1>WEBSITE COMPANY</h1>
    <form method="get" action="info_company">
        <button type="submit">INFO COMPANY</button><br><br>
    </form>
    <form method="get" action="add_company">
        <button type="submit">ADD COMPANY</button><br><br>
    </form>
    <form method="get" action="update_company">
        <button type="submit">UPDATE COMPANY</button><br><br>
    </form>
    <form method="get" action="delete_company">
        <button type="submit">DELETE COMPANY</button><br><br>
    </form>
    <form method="get" action="show_company">
        <button type="submit">SHOW COMPANY</button><br><br>
    </form>
    <form method="get" action="website">
        <button type="submit">COME BACK</button><br><br>
    </form>
</body>
</html>