<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSITE COMMODITY</title>
</head>
<body>
    <h1>WEBSITE COMMODITY</h1>
    <form method="get" action="info_commodity">
        <button type="submit">INFO COMMODITY</button><br><br>
    </form>
    <form method="get" action="add_commodity">
        <button type="submit">ADD COMMODITY</button><br><br>
    </form>
    <form method="get" action="update_commodity">
        <button type="submit">UPDATE COMMODITY</button><br><br>
    </form>
    <form method="get" action="delete_commodity">
        <button type="submit">DELETE COMMODITY</button><br><br>
    </form>
    <form method="get" action="show_commodity">
        <button type="submit">SHOW COMMODITY</button><br><br>
    </form>
    <form method="get" action="website">
        <button type="submit">COME BACK</button><br><br>
    </form>
</body>
</html>